.container {
  width: 100%;
  max-width: var(--container-width);
  margin-inline: auto;
  padding-block: 20px;
}

.section {
  padding: 6rem 0;
}

.section-title {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 1rem;
}

.section-description {
  color: var(--color-text-light);
  font-size: 1.1rem;
  line-height: 1.7;
}